@font-face {
  font-family: "Share Tech Mono";
  src: url("./fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron/static/Orbitron-ExtraBold.ttf");
}

@font-face {
  font-family: "Roboto mono";
  src: url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgb(149, 226, 190);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  display: flex;
}

.mute,
.unmute {
  position: fixed;
  z-index: 18;
  width: 50px;
  top: 47%;
  right: 15px;
  transition: 1s;
}

.code {
  background-color: rgb(54, 54, 54);
  color: rgb(196, 196, 196);
  padding: 10px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
}

inlineCode {
  background-color: rgb(224, 224, 224);
  color: rgb(39, 39, 39);
  border-radius: 3px;
  font-weight: 500;
  padding: 0 5px;
  height: 50px;
  overflow-x: scroll;
  width: 90%;
  height: 30px;
}

twoimagehold {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

twoimagehold img {
  width: 49%;
  border: 2px solid rgb(53, 53, 53);
}

.nav {
  background-color: #e9f5f9;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 10;
}

.logo {
  width: 200px;
  transition: 0.2s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(0.98);
}

.link-holder {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  color: #1a6985;
  text-decoration: none;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  position: relative;
  font-weight: 500;
}

.links::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background-color: orange;
  border-radius: 10px;
  transition: 0.5s;
}

.links:hover:after {
  width: 100%;
}

.whole-holder {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  z-index: 4;
}

.curriculum {
  width: 25%;
  height: calc(100% - 80px);
  position: fixed;
  background-color: #e9f5f9;
  overflow: auto;
  z-index: 2;
  transition: 0.6s;
  margin-top: 80px;
  padding-bottom: 50px;
}

.content {
  width: 100%;
  margin-top: 15px;
  color: #063970;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 17px;
  display: flex;
  align-items: center;
  user-select: none;
}

.content-link {
  text-decoration: none;
  color: #063970;
  transition: 0.5s;
  font-size: 19px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  border-radius: 4px;
}

.content-link:hover {
  background-color: skyblue;
  color: #e9f5f9;
}

#html,
#css {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding-left: 35px;
}

.ide-link {
  color: #063970;
  transition: 0.5s;
  text-decoration: none;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  border-radius: 4px;
}

.ide-link:hover {
  background-color: skyblue;
  color: #e9f5f9;
}

.sub-content {
  min-width: calc(100% - 50px);
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin-top: 15px;
  margin-left: 40px;
  border-radius: 4px;
}

.sub-content-link {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.sub-content-holder {
  display: none;
}

.sub-content:hover {
  background-color: #8cc7e2;
}

.sub-content:hover a {
  color: #e9f5f9;
}

.sub-content2 {
  min-width: calc(100% - 50px);
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin-top: 15px;
  margin-left: 40px;
  border-radius: 4px;
}

.sub-content-link2 {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.sub-content-holder2 {
  display: none;
}

.sub-content2:hover {
  background-color: #8cc7e2;
}

.sub-content2:hover a {
  color: #e9f5f9;
}

.course-holder {
  position: absolute;
  width: 65%;
  margin-top: 160px;
  margin-left: 34%;
}

.major-heading {
  font-size: 40px;
  color: #e28743;
}

.minor-heading {
  font-size: 30px;
  color: #976a34;
}

.major-heading2 {
  font-size: 40px;
  color: #0b4591;
}

.minor-heading2 {
  font-size: 30px;
  color: #1774df;
}

smallTitle {
  font-size: 25px;
  color: rgb(71, 55, 55);
  font-weight: 600;
}

.course-words {
  width: 94%;
}

paragraph {
  font-size: 16px;
}

bold {
  font-weight: 600;
}

.img1 {
  max-width: 100%;
  max-height: 490px;
  border: 2px solid #a2a3a3;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.img2 {
  max-width: 100%;
  max-height: 477px;
  border: 2px solid #9ea1a5;
  border-radius: 10px;
  cursor: pointer;
}

.img3 {
  max-width: 100%;
  max-height: 600px;
  border: 2px solid #a2a3a3;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.imgflex {
  max-width: 100%;
  max-height: 150px;
  border: 2px solid #a2a3a3;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.prev-and-next-holder {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.prev,
.next {
  position: relative;
  width: 140px;
  height: 65px;
  background-color: #1e81b0;
  border-radius: 10px;
  transition: 0.5s;
  border: 2px solid #1e81b0;
  cursor: pointer;
}

.prev .nexprevlinks,
.next .nexprevlinks {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #eeeee4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.prev:hover,
.next:hover {
  border: 2px solid #063970;
  background-color: transparent;
  color: #063970;
}

.prev:hover a,
.next:hover a {
  color: #063970;
}
.exercise {
  font-size: 20px;
  width: 85%;
  padding: 20px;
  background-color: #873e23;
  color: rgb(241, 241, 241);
  border-radius: 3px;
  overflow-x: scroll;
}

.exercise::-webkit-scrollbar {
  display: none;
}

.exercise span {
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-weight: 550;
}

/* exercise and its child span */

.newDiv {
  width: 100%;
  height: 100%;
  background-color: #a6d0df;
  position: fixed;
  z-index: 19;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel {
  width: 70px;
  height: 30px;
  padding: 30px, 30px, 30px, 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  color: #000000;
  transition: 0.4s;
}

.cancel:hover {
  background-color: tomato;
}

.newImg {
  max-width: 85%;
  max-height: 100vh;
}

.ham-btn {
  display: none;
  width: 50px;
  transition: 0.6s;
  cursor: pointer;
}

.ham-btn:hover {
  transform: rotate(-180deg);
}

.open-cur {
  width: 40px;
  display: none;
  position: fixed;
  z-index: 20;
  left: 10px;
  transition: 0.6s;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: 1s;
}

.list {
  margin-left: 50px;
}

@media screen and (max-width: 1024px) {
  .open-cur {
    display: block;
  }
  .ham-btn {
    display: block;
  }
  .logo {
    width: 140px;
  }
  body {
    width: 100%;
  }
  .nav {
    width: 100%;
    justify-content: space-around;
    padding-left: 20px;
  }
  .mute,
  .unmute {
    width: 35px;
    top: 50%;
    transform: translateY(-50%);
  }
  .links {
    font-size: 20px;
  }
  .link-holder {
    width: 50%;
    display: none;
  }
  .curriculum {
    width: 0;
    padding-bottom: 50px;
  }

  .sub-content {
    min-width: 90%;
  }

  .sub-content2 {
    min-width: 90%;
  }
  .course-holder {
    margin-left: 0;
    padding: 30px;
    width: 100%;
  }
  .major-heading {
    font-size: 30px;
  }

  .minor-heading {
    font-size: 20px;
  }

  .major-heading2 {
    font-size: 30px;
  }

  .minor-heading2 {
    font-size: 20px;
  }
  smallTitle {
    font-size: 20px;
  }

  .course-words {
    width: 100%;
  }

  paragraph {
    font-size: 14px;
  }
  .code {
    overflow-x: auto;
  }

  .img1 {
    max-width: 95%;
  }

  .img2 {
    max-width: 95%;
  }

  .img3 {
    max-width: 95%;
  }

  .imgflex {
    max-width: 95%;
  }

  .prev,
  .next {
    width: 100px;
    height: 45px;
  }
  .exercise {
    width: 95%;
    font-size: 16px;
    overflow-x: auto;
  }
  .exercise span {
    font-size: 17px;
  }
}

.nav-added {
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.link-holder-added {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}

.link-holder-added a {
  width: auto;
}

.cur-added {
  width: 100%;
}

.open-cur-added {
  transform: translateY(-50%) rotate(-180deg);
}

.open-cur-added2 {
  opacity: 0;
}

.mute-added {
  opacity: 0;
}

.whole-holder-added {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(134, 178, 223);
  border-radius: 4.5px;
}

::-webkit-scrollbar-track {
  background-color: #e8f9ff;
}

